<div class="card mt-5">
    <div class="card-body">
        <h5 class="card-title black-color d-flex justify-content-between">
            <span>Général</span>
            <span class="edit-btn"><i class="far fa-edit"></i></span>
        </h5>
        <div class="view">
            <p><%= (myData.gender || myData.gender == 0) ? (myData.gender == 1) ? 'Homme' : 'Femme' : 'Sexe non spécifié' %></p>
            <p><%= (myData.height) ? myData.height : 'Taille non spécifiée' %></p>
            <p><%= (myData.weight) ? myData.weight : 'Poids non spécifié' %></p>
            <p><%= (myData.blood_group) ? myData.blood_group : 'Groupe sanguin non spécifié' %></p>
        </div>

        <div class="edit hide">
            <form action="" method="post">

                <label for="gender">Sexe</label>
                <div class="form-label-group">
                    <select name="gender" id="gender">
                        <option value="">Choisir son sexe</option>
                        <option value="0">Femme</option>
                        <option value="1">Homme</option>
                    </select>
                </div>

                <div class="form-label-group">
                    <input type="number" id="height" name="height" class="form-control" value="<%= myData.height %>">
                    <label for="height">Taille</label>
                </div>

                <div class="form-label-group">
                    <input type="number" id="weight" name="weight" class="form-control" value="<%= myData.weight %>">
                    <label for="weight">Poids</label>
                </div>

                <label for="blood_group">Groupe sanguin</label>
                <div class="form-label-group">
                    <select name="blood_group" id="blood_group">
                        <option value="">Choisir un groupe sanguin</option>
                        <option value="a+">A+</option>
                        <option value="a-">A-</option>
                        <option value="b+">B+</option>
                        <option value="b-">B-</option>
                        <option value="ab+">AB+</option>
                        <option value="ab-">AB-</option>
                        <option value="o+">O+</option>
                        <option value="o-">O-</option>
                    </select>
                </div>
        
                <button class="btn btn-lg btn-primary btn-block" type="submit" name="save_general_btn">Enregistrer</button>
            </form>
        </div>
    </div>
</div>