<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
    <title>Hygie</title>

    <%- include('components/__stylesheets'); -%>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600|Poppins:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/iphone_mockup.css">
    <link rel="stylesheet" href="/stylesheets/main.css">

    <%- include('components/__libs'); -%>
</head>
<body>


    <div class="temp-wrapper">
        <div class="px">
            <div class="px__body">
                <div class="px__body__cut"></div>
                <div class="px__body__speaker"></div>
                <div class="px__body__sensor"></div>
            
                <div class="px__body__mute"></div>
                <div class="px__body__up"></div>
                <div class="px__body__down"></div>
                <div class="px__body__right"></div>
            </div>
            
            <div class="px__screen">
                <div class="px__screen__">
                    <div class="px__screen__frame" style="background-color: #FFF">
                        <%- include('components/_statusBar'); -%>

                        <div class="body">
                            <% if( locals.options && locals.options.body ) { %>
                                <%- include( 'pages/' + locals.options.body ); -%>
                            <% } %>
                        </div>
                    
                        <%- include('components/_menuBar'); -%>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <%- include('components/__javascripts'); -%>
</body>
</html>
