<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
    <title>Hygie</title>

    <%- include('components/__stylesheets'); -%>

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600|Poppins:300,400,500" rel="stylesheet">

    <%- include('components/__libs'); -%>
</head>
<body>


    <%- include('components/_header'); -%>

    <% if( locals.options && locals.options.body ) { %>
        <%- include( 'pages/' + locals.options.body ); -%>
    <% } %>

    <%- include('components/_bar'); -%>


    <%- include('components/__javascripts'); -%>
</body>
</html>
